[Desktop Entry]
Encoding=UTF-8
Name=Decrediton
Comment=Decrediton the Legenddigital wallet
Exec=legenddigitaliton %U
Terminal=false
Type=Application
Icon=legenddigital
MimeType=x-scheme-handler/legenddigital;
Categories=Office;Finance;
